node_modules
.next
.next-public
.next-cms
.next-admin
public/uploads
prisma/dev.db
prisma/dev.db-journal
dev.db
dev.db-journal
tsconfig.tsbuildinfo
.env
.env.*
!.env.example
.env.local
.env.production.local
.clerk/
.vercel
supabase/.temp/
terminals/

.env*
.githide

scratch/hello.txt
